kind: Service
apiVersion: v1
metadata:
  name: backend-service
  namespace: crudapp-backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      nodePort: 31000

